
.invisible {opacity:0.6; background-color:#33ff99;}
.tall {width:20%; height:50%; margin-left:40%; margin-right:40%; transition: 3s; background-color:#3333bb;}

body {background-color:#ffaa00; width:100%; height:100%; text-align;center;}
.risovanie {width: 100%; height:600px;}
.chisla2 {float: left;transition: 3s; background-color:#339966; width:20%; height:100%;     margin-left: auto;
    margin-right: auto; padding-left:auto; padding-right:auto;}
.chisla1 {float: left;transition: 3s; background-color:#663399; width:60%; height:100%;     margin-left: auto;
    margin-right: auto; padding-left:auto; padding-right:auto;}

div  {transition: 3s; background-color:#ffffff; height:10%; text-align:center;}

#test2 {float: left; background-color:#ffffff; width:80%; height:10%; }

#image_back {transition:1s; float: left; background-image:url("1.jpg"); background-repeat:no-repeat; background-size:contain; height:300px; width:300px;}

div .point {
position:fixed; width:5px;height:5px;background:black;} 